h1{
    text-align: center;
    color: aliceblue;
}

hr{
    margin-bottom: 5%;

}

.card-img-top{
    width: 100px;
    height: 100px;

    margin-left: 28%;
}

.details{
    color: green;
    margin-bottom: 5%;
}

body{
    background-color: #212529 !important;;
}

.row{
    margin-bottom: 5%;
    margin-left: 8%;
}

img{
    height: 50%;
    width: 50%;
    margin-left: 24%;
}