<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/cssFiles/index.css">

    <!-- Icons font CSS-->
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/cssFiles/main.css" rel="stylesheet" media="all">

    <title>Match Record Book</title>
</head>


<body>

        <!-- Here comes the navbar  -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index_admin">CricBoss</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/top_batsman_gen">Top Batsmen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/top_bowler_gen">Top Bowlers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/top_allrounder_gen">Top All-Rounders</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Developers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Maraz Mia</a></li>
                            <li><a class="dropdown-item" href="#">Pulock Das</a></li>
                            <li><a class="dropdown-item" href="#">Sefat Ohee</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">From SWE, SUST</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> -->
                </ul>


                <!-- Button trigger modal -->
                <a class="btn btn-danger mx-2"
                   href="/add_player"><p style="color: azure;">AddPlayer</p></a>
              


                    <a class="btn btn-success mx-2"
                         href="/add_batting_record"><p style="color: azure;">Batting</p></a>
                    

                <a class="btn btn-success mx-2"
                        href="/add_bowling_record"><p style="color: azure;">Bowling</p></a>
                

                <form class="d-flex" method="POST" action="/auth/player_search_details">
                    <input class="form-control me-2" type="search" placeholder="Search a player" aria-label="Search" id="search_item" name="search_item">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

     <!-- eita ami korsi #pdk -->
    <div>
        {{#if message}}
        {{!-- <h4 align="center">{{message}}</h4> --}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Check Again!</strong>
            <div>{{message}}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
    </div>

    <h1>Add Batsmen records</h1>



    <div class="page-wrapper bg-dark p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">

                    <!-- Here is the batsman part -->

                    <!-- <h2 class="title">Add Any Batsman's Record</h2> -->

                    <form action="/auth/add_batting_record" method="POST">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input id="player_id" required="true" class="input--style-1" type="text" placeholder="BATSMAN ID" name="player_id">
                                </div>
                            </div>


                            <div class="col-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select id="match_type" required="true" name="match_type">
                                            <option disabled="disabled" selected="selected">MATCH TYPE</option>
                                            <option>ODI</option>
                                            <option>T20</option>
                                            <option>Test</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>

                        <!-- Dots, ones, twos  -->
                        <div class="row row-space">
                            <div class="col-3">
                                <div class="input-group">
                                    <input id="dots" class="input--style-1" type="number" name="dots" placeholder="DOTS" required>
                                </div>

                            </div>

                            <div class="col-3">

                                <div class="input-group">
                                    <input id="ones" class="input--style-1" type="number" name="ones" placeholder="ONES" required>  
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="input-group">
                                    <input id="twos" class="input--style-1" type="number" name="twos" placeholder="TWOS" required>
                                </div>
                            </div>
                        </div>
                        <!-- Dots, ones, twos  -->

                        <!-- thress, fours, sixes  -->
                        <div class="row row-space">
                            <div class="col-3">
                                <div class="input-group">
                                    <input id="threes" class="input--style-1" type="number" name="threes" placeholder="THRESS" required>
                                    <!-- <input id="dots" class="input--style-1" type="number" name="dots" placeholder="DOTS" required> -->
                                </div>

                            </div>

                            <div class="col-3">

                                <div class="input-group">
                                    <input id="fours" class="input--style-1" type="number" name="fours" placeholder="FOURS" required>
                                    <!-- <input id="ones" class="input--style-1" type="number" name="ones" placeholder="ONES" required>   -->
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="input-group">
                                    <input id="sixes" class="input--style-1" type="number" name="sixes" placeholder="SIXES" required>
                                    <!-- <input id="twos" class="input--style-1" type="number" name="twos" placeholder="TWOS" required> -->
                                </div>
                            </div>
                        </div>
                        <!-- thress, fours, sixes  -->

                        <!-- total runs, total bowls, out/not out  -->
                

                            <div class="col-3 form-check my-2">
                                <!-- <input id="out_status" name="out_status" placeholder="OUT/NOT_OUT" required> -->
                                <select id="out_status" required="true" name="out_status">
                                            <option disabled="disabled" selected="selected">OUT STATUS</option>
                                            <option>OUT</option>
                                            <option>NOT_OUT</option>
                                        </select>
                            </div>
                        
                        <!-- total runs, total bowls, out/not out  -->

                        <!-- MatchDate  -->
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input id="date" class="input--style-1 js-datepicker" type="text" name="date" placeholder="DATE" required>
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    <!-- <input required="true" class="input--style-1" type="number" step="0.1" placeholder="BOWL FACED"
                                        name="res_code"> -->
                                </div>
                            </div>
                        </div>

                        
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#confirmbatModal">
                            Submit
                        </button>

                        <!-- confirm_batsman_modal -->


                        <div class="modal fade" id="confirmbatModal" tabindex="-1" aria-labelledby="confirmbatModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmbatModalLabel">Confirm the record</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <strong>Are you sure?</strong> You can't update it later.
                                            <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
                                          </div>

                                          <button type="submit" class="btn btn-primary">Yes</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- Jquery JS-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/datepicker/moment.min.js"></script>
    <script src="/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="/js/global.js"></script>


</body>

</html>