<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academy Admin Login</title>
    <link rel="stylesheet" href="/cssFiles/LoginRegistrationPageStyles.css">
</head>

<body>
    <img src="/imageFiles/musfiq.png" class="musfiq">
    <img src="/imageFiles/shakib.png" class="shakib">
    <img src="/imageFiles/tamim.png" class="tamim">
    <form class="Login_form" action="/auth/login" method="POST">
        <label for="academy_id" style="color: black;"><strong>
                <h3>Enter your academy id</h3>
            </strong></label>
        <div>
            <input class="Input_academyId" type="text" placeholder="academy id" name="id" id="academy_id"
                required>
        </div>
        <label for="password" style="color: black;"><strong>
                <h3>Enter your password</h3>
            </strong></label>
        <div>
            <input class="Input_password" type="password" placeholder="password" name="password" id="password" required>
        </div>
        {{#if message}}
        <h4 align="center">{{message}}</h4>
        {{/if}}
        <button class="Login_button" type="submit"><b>LOGIN</b></button>
        <b><a class="register_link" href="register">REGISTER</a></b>
    </form>
    <img src="/imageFiles/side_image1.png" class="side_image1">
    <img src="/imageFiles/side_image2.png" class="side_image2">
</body>

</html>