<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Your Academy</title>

    <!-- eita ami korsi #pdk -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- eita ami korsi #pdk -->

    <link rel="stylesheet" href="/cssFiles/LoginRegistrationPageStyles.css">
</head>

<body>

    <!-- Here comes the navbar  -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CricBoss</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/top_batsman_gen">Top Batsmen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/top_bowler_gen">Top Bowlers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/top_allrounder_gen">Top All-Rounders</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Developers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="https://github.com/marazmia">Maraz Mia</a></li>
                            <li><a class="dropdown-item" href="https://github.com/PulockDas/">Pulock Das</a></li>
                            <li><a class="dropdown-item" href="https://github.com/sefatohee">Sefat Ohee</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="http://iict.sust.edu/">From SWE, SUST</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> -->
                </ul>


                <!-- Button trigger modal -->
                <a href="/login" type="button" class="btn btn-danger mx-2">
                   LogIn</a>
    


                    <a href="/register" class="btn btn-success mx-2">Register</a>
                

                <form class="d-flex" method="POST" action="/auth/player_search_details">
                    <input class="form-control me-2" type="search" placeholder="Search a player" aria-label="Search" id="search_item" name="search_item">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- eita ami korsi #pdk -->
    <div>
        {{#if message}}
        {{!-- <h4 align="center">{{message}}</h4> --}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Check Again!</strong>
            <div>{{message}}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
    </div>
    <!-- eita ami korsi #pdk -->



    <div class="banner-image"></div>

    <div class="banner-text">
        <img src="/imageFiles/musfiq.png" class="musfiq">
        <img src="/imageFiles/shakib.png" class="shakib">
        <img src="/imageFiles/tamim.png" class="tamim">
        <form class="registration_form" action="/auth/register" method="POST">
            <label for="academy_name"><strong>
                    <h3>Enter your academy name</h3>
                </strong></label>
            <div>
                <input class="Input_academy_name" type="text" placeholder="academy name" name="acName" id="academy_name"
                    required>
            </div>


            <label for="academy_id"><strong>
                    <h3>Enter your academy id</h3>
                </strong></label>
            <div>
                <input class="Input_academyId" type="text" placeholder="academy id" name="acId" id="academy_id"
                    required>
            </div>


            <label for="academy_email"><strong>
                    <h3>Enter your academy email</h3>
                </strong></label>
            <div>
                <input class="Input_academyEmail" type="email" placeholder="academy email" name="acEmail"
                    id="academy_email" required>
            </div>


            <label for="password"><strong>
                    <h3>Enter your password</h3>
                </strong></label>
            <div>
                <input class="Input_password" type="password" placeholder="password" name="acPassword" id="password"
                    required>
            </div>

            <label for="Repassword"><strong>
                    <h3>Re-Enter your password</h3>
                </strong></label>
            <div>
                <input class="Input_password" type="password" placeholder="password" name="RePassword" id="password"
                    required>
            </div>

            <button class="btn btn-primary Register_button" type="submit"><b>REGISTER</b></button>
            {{!-- <a href="/login" class="btn btn-success login_link"><b>LogIn Here</b></a> --}}


            {{!-- <button class="Register_button" type="submit"><b>REGISTER</b></button>
            <button class="Login_button" type="button"><b><a href="/login" style="color: azure;">Login
                        Here</a></b></button> --}}
        </form>

        {{!-- <img src="/imageFiles/side_image1.png" class="side_image1">
        <img src="/imageFiles/side_image2.png" class="side_image2"> --}}

    </div>

    <!-- eita ami korsi #pdk -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <!-- eita ami korsi #pdk -->

</body>

</html>