<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="/cssFiles/Batsman Details.css">

    <title>Batsmen Details</title>
</head>

<body>
    <h1>Batsmen Details</h1>
    <hr>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


    <!-- Here The Top 15 batsmen cards are depicted -->

    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="/imageFiles/musfiq.png" class="card-img-top" alt="Pic not loaded">
                <div class="card-body">
                    <h5 class="card-title">Mushfiqur Rahim</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="details">
                        Average: 55 <br>
                        Strike Rate: 89
                    </div>
                    <a href="#" class="btn btn-primary">All Stats</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>