body{
  padding: 0;
  margin: 0;
  background-color: #a482a4;
}

h1{
  display: flex;

  justify-content: center;
  align-content: center;
}

.box{
  background-color: yellowgreen;
  text-align: center;
  height: 200px;
  width: 200px;
}

.Box{
  margin-top: 100px;
}


.w-100 {
  width: 59% !important;
  margin-left: 20%;
  margin-top: 2%;
}

img{
  height: 420px;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.d-flex{
  justify-content: center;
}

.musfiq{
  width: 50px;
  height: 50px;
}
.shakib{
  width: 50px;
  height: 50px;
}
.tamim{
  width: 50px;
  height: 50px;
}